.App{
  box-sizing: border-box;
  /* text-align: center; */
  /* display: flex; */
}
#print{
  display: flex;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  height: 90vh;
  width: 100vw;
  max-height: 90%;
}
#adventure{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30vw;
  box-shadow: 0 4px 8px rgb(0,0,0,0.5);
  border-radius: 2%;
  /* background-color: blueviolet; */
}
#playground{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* justify-content: space-around; */
  width: 30vw;
  box-shadow: 0 4px 8px rgb(0,0,0,0.5);
  border-radius: 2%;
  /* background-color: blueviolet; */
}
#console{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* justify-content: space-around; */
  width: 30vw;
  box-shadow: 0 4px 8px rgb(0,0,0,0.5);
  border-radius: 2%;

  /* background-color: blueviolet; */
}
#subdiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  margin-bottom: 5%;
}
p{
  text-align: center;
  /* font-size: 2vw; */
}
img{
  /* height: 40vh;
  min-height: 30%; */
  width: 30vw;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}